# [dev | pro | test]
ENV=dev

# [SECRETS]
API_SECRET_KEY=''
SECRET_KEY=''
ALGORITHM=HS512

# [TOKEN - MINUTES]
EXP_ACCESS=60
EXP_REFRESH=60
EXP_RECOVER=5

# [AUTH]
URL_RESET_PWD='http://localhost:5000/password/' # ex: http://URL-FRONTEND/auth/reset

# [HOSTS - SEPARATE HOSTS BY -> ,]
ALLOWED_HOSTS=http://localhost
PORT=5000

# [SYSTEM EMAIL / RECOVER PWD]
EMAIL_USERNAME=''
EMAIL_PASSWORD=''

# [DATABASE CREDENTIALS]
MONGODB_HOST=mongodb # ENV -> PRO -> ex: cy0nnnn.mongo.net
MONGODB_PORT=27016
MONGODB_USERNAME=mongo
MONGODB_PASSWORD=password
MONGODB_DATABASE=DEVELOPMENT

# [REDIS CREDENTIALS]
REDIS_HOST=redis
REDIS_PORT=7000
REDIS_PASSWORD=password